@import "../node_modules/bootstrap/scss/bootstrap";

h1 {
   text-align: center;
  }
  
#keyboard-cont {
   margin: 1rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .second-row {
   margin: 0.5rem 0;
 }
 
 .keyboard-button {
  background-color: lightcyan;
   font-size: 1rem;
   font-weight: 700;
   padding: 0.5rem;
   margin: 0 2px;
   cursor: pointer;
   text-transform: uppercase;
 }

 body{
  background-color: lightgoldenrodyellow;
}

.flex-grid-fifths {
  display: flex;
  width: 300px;
  align-items: center;
  /*justify-content: space-between;*/
  /*gap: 20px 20px;*/
  align-content: center;
}
.flex-grid-fifths .col {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 25px;
  width: 1%;
  align-content: center;
}