<!DOCTYPE html>
<html lang="en">
<head>
    <title> Wordle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 	  crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/wordlestyle.css">
  </head>
<body>
  <form action={{ url_for('open_wordle') }} method="POST">
    <input class="btn btn-success" type="submit" name="create" value="Wordle">
  </form>
  <form action={{ url_for('open_about') }} method="POST">
    <input class="btn btn-success" type="submit" name="create" value="About">
  </form>
  <form action={{ url_for('open_profile') }} method="POST">
    <input class="btn btn-success" type="submit" name="create" value="Profile">
  </form>
  <form action={{ url_for('open_nerdle') }} method="POST">
    <input class="btn btn-success" type="submit" name="create" value="Nerdle">
  </form>
  <form action={{ url_for('open_yordle') }} method="POST">
    <input class="btn btn-success" type="submit" name="create" value="Yordle">
  </form>
  <form action={{ url_for('open_home') }} method="POST">
    <input class="btn btn-success" type="submit" name="create" value="Home">
  </form>
    <h1> wordle </h1>

       <div class="flex-grid-fifths">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
    </div>
    <div class="flex-grid-fifths">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
    </div>
    <div class="flex-grid-fifths">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
    </div>
    <div class="flex-grid-fifths">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
    </div>
    <div class="flex-grid-fifths">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
    </div>
    <div class="flex-grid-fifths">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
    </div>
    
    <div id="wordle-board">

        <div id="keyboard">
            <div class="first-row">
                <button class="keyboard-button">q</button>
                <button class="keyboard-button">w</button>
                <button class="keyboard-button">e</button>
                <button class="keyboard-button">r</button>
                <button class="keyboard-button">t</button>
                <button class="keyboard-button">y</button>
                <button class="keyboard-button">u</button>
                <button class="keyboard-button">i</button>
                <button class="keyboard-button">o</button>
                <button class="keyboard-button">p</button>
            </div>
            <div class="second-row">
                <button class="keyboard-button">a</button>
                <button class="keyboard-button">s</button>
                <button class="keyboard-button">d</button>
                <button class="keyboard-button">f</button>
                <button class="keyboard-button">g</button>
                <button class="keyboard-button">h</button>
                <button class="keyboard-button">j</button>
                <button class="keyboard-button">k</button>
                <button class="keyboard-button">l</button>
            </div>
            <div class="third-row">
                <button class="keyboard-button">Del</button>
                <button class="keyboard-button">z</button>
                <button class="keyboard-button">x</button>
                <button class="keyboard-button">c</button>
                <button class="keyboard-button">v</button>
                <button class="keyboard-button">b</button>
                <button class="keyboard-button">n</button>
                <button class="keyboard-button">m</button>
                <button class="keyboard-button">Enter</button>
            </div>
        </div>

    </div>
    <br><br>

    <button class="open-button" onclick="openForm()">How to Play</button>
    <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container"> <!-- This will change to the redirect stuff -->
        <h1>How to play</h1>
          <p>
            Welcome to Wordle- the original word-guessing game!<br>
            The goal of the game is to guess the WORDLE in six tries. <br>
            Each guess must be a valid five-letter word. <br>
            Hit the enter button to submit each guess. <br>
            After each guess, you will receive hints to show how close your guess was to the correct answer. <br>
            Green means that your letter was in the correct space. <br>
            Yellow means that your letter is in the word but not in the correct space. <br>
            Black means that the letter is not in the word at all.
         </p>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
  </div>

  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
</div> 
    <script src="/app/static/js/wordle.js"></script>
    <script src="/static/js/wordle.js"></script>
</body>
</html>
